@use "../global/variables";

// COMMENTS SECTION
.comments {
    width: 61%;
    padding: 70px 0px 100px 140px;
}

.comment {
    padding: 60px 60px 30px 0;
    display: flex;
    justify-content: space-between;
}

.imgContainerComment {
    img {
        max-width: none;
    }
}

.textContainerComment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
    h5 {
        margin-top: 2.5px;
        margin-bottom: 10px;
    }
    p {
        margin-top: 0;
    }
}

.blogForm {
    /*display: flex;
    flex-wrap: wrap;*/
    padding-top: 40px;
    .field {
        width: calc( (100% / 2) - 22px );
        margin-bottom: 40px;
    }
    .field:nth-child(1) {
        margin-right: 44px;
    }
    label {
        margin-left: 40px;
    }
    /*
    input {
        display: block;
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 3px solid variables.$turqoiseBlue;
        background: inherit;
    }*/
    textarea {
        //width: 100%;
        height: 200px;
        //margin-bottom: 30px;
        background: inherit;
        border: 3px solid variables.$turqoiseBlue;
    }
    /*
    ::placeholder {
            color: variables.$primaryBody;
            letter-spacing: 1.4px;
            line-height: 29px;
        }
    
    button {
        //align-self: center;
        width: 100%;
        margin-top: 15px;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }*/
    
}