@use "./variables";

// BLOG POST
.blogPost {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 140px;
    .blogPostArticle {
        width: 58%;
        background: variables.$teal;
        color: variables.$white;
        box-shadow: 7px 6px 0 6px variables.$turqoiseBlue;
        padding: 150px 70px 80px 100px;
        
    }
}

aside {
    width: 30%;
    background: variables.$teal;
    color: variables.$white;
    height: 960px;
    padding-left: 20px;
    padding-bottom: 20px;
    .imgContainerAside {
        position: relative;
        img {
            position: absolute;
            width: 100%;
        }
    }
    .textContainerAside {
        padding-top: 500px;
    }
    .sideNav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        ul {
            list-style: disc;
            list-style-position: inside;
        }
    }

}