@use "./variables";

//CONTACT INFO section
.contactInfo {
    padding: 120px 0 200px 0;
}

.contactFlex {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

//FORM
.contactForm {
    background: variables.$teal;
    position: absolute;
    top: -260px;
    padding: 70px 50px 40px 50px;
    box-shadow: 26px 30px 0 -3px variables.$turqoiseBlue;
    label {
        margin-left: 20px;
    }
    textarea,
    button {
        margin-top: 20px;
    }
    textarea {
        height: 240px;
        //padding: 30px;
    }
}
.contactFormContainer {
    position: relative;
    padding-left: 90px;
    width: 64vw;
}


.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //width: fit-content
    li:nth-child(2) {
        margin-bottom: 30px;
    }
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 65%;
    margin-bottom: 15px;
    //padding-right: 55px;
}
