@use "./variables";

//CONTACT INFO section
.contactInfo {
    padding: 80px 0 150px 0;
}

.contactFlex {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.socialMedia {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 22%;
    //padding-right: 55px;
}

.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    //width: fit-content
    li:nth-child(1) {
        margin-bottom: 30px;
    }
}