@use "./variables";

// CONTACT HEADER
.contactHeader {
    background-image: url('./../textilee-assets/contact-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    height: 570px;
}

.contact {
    padding-top: 50px;
}

