@use "./variables";

//CONTACT INFO section - FLEX container for FORM and ADDRESS UL
.contactInfo {
    padding: 140px 0 0 0;
    // FLEX container for form and info
    display: flex;
    flex-wrap: wrap;
    // for contact container
    justify-content: center;
}

// CONTAINER for ADDRESS UL
.addressContainer {
    /*display: flex;
    justify-content: right;
    flex-wrap: wrap;
    */
    width: fit-content;
    height: fit-content;
    // for flex-wrap or phone size:
    padding-bottom: 30px;
}

//FORM
.contactForm {
    background: variables.$teal;
    position: absolute;
    top: -280px;
    padding: 70px 50px 40px 50px;
    box-shadow: 26px 30px 0 -3px variables.$turqoiseBlue;
    label {
        margin-left: 20px;
    }
    textarea,
    button {
        margin-top: 20px;
    }
    textarea {
        height: 240px;
        //padding: 30px;
    }
}
// CONTAINER for CONTACT FORM
.contactFormContainer {
    position: relative;
    padding-left: 5%;
    width: 64%;
    // makes container after that appear below this container (full defined height)
    min-height: 450px;
}

// UL FLEX CONTAINER FOR ADDRESS INFO and ICONS
.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //width: fit-content

    // extra bottom margin for email
    li:nth-child(2) {
        margin-bottom: 30px;
    }
}

// ICON BAR
.socialMedia {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 65%;
    margin-bottom: 15px;
    //padding-right: 55px;
}
