@use "./variables";

// GALLERY section
.gallery {
    background: variables.$teal;
    padding: 100px 0;
}
// UL as FLEX container for IMG
.galleryFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        width: calc((100% / 3) - 20px);
    }
    li:nth-child(2) {
        margin: 0 10px;
    }
}