@use "./variables";

// GALLERY section
.gallery {
    background: variables.$teal;
    padding: 100px 0;
}
// UL as FLEX container for IMG
.galleryFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}