@use "./variables";

// GENERAL STYLING

//limit size of images
img {
    max-width: 100%;
    display: block;
}

//WRAPPER
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

// ANCHOR TAGS AS BUTTONS
.button {
    font-family: variables.$headingFont;
    font-size: 1.35rem;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1.4px;
    padding: 12px 32px;
    margin-bottom: 20px;
    background: variables.$darkSlateBlue;
    color: variables.$white;
}

// SECOND BUTTON STYLING
.buttonTwo {
    background: #b3b3c0;
    color: variables.$primaryBody;
    padding: 6px 32px;
}
