@use "./variables";

// HEADER
header {
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeHeader {
    // BACKGROUND IMG
    background: url('./../textilee-assets/header-home.jpg');
    background-position-x: -60px;
    height: 750px;
}

// CONTAINER for h2
.headingContainer {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

// OVERLAPPING IMG between HEADER and ABOUT section inside main
.imgContainerHeaderAbout {
    width: 57%;
    position: relative;
    // IMG positioning
    img {
        height: min-content;
        position: absolute;
        top: 55px;
    }
}