@use "./variables";

// LOCATIONS section
.locations {
    background: variables.$teal;
    // FLEX container for ONLINE MARKET part
    .onlineFlex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        // IMG container ONLINE
        .imgContainerOnline {
            width: 40%;
            position: relative;
            // IMG positioning with box-shadow
            img {
                width: 100%;
                box-shadow: 28px 26px 0 0 variables.$turqoiseBlue;
                position: absolute;
                top: -35px;
            }
        }
        // TEXT CONTAINER for ONLINE part
        .textContainerOnline {
            width: 48%;
            padding-left: 10px;
            padding-right: 95px;
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // a as BUTTON
            .button {
                align-self: flex-start;
            }
        }
    }
    // FLEX container for NEW LOCATIONS part
    .newLocationsFlex {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        // TEXT CONTAINER for NEW LOCATIONS
        .textContainerNew {
            width: 40%;
            text-align: right;
            padding-left: 40px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // a as BUTTON
            .button {
                align-self: flex-end;
            }
        }
        // IMG CONTAINER for NEW LOCATIONS
        .imgContainerNew {
            width: 48%;
            position: relative;
            // positioning of IMG
            img {
                width: 100%;
                box-shadow: -28px 26px 0 0 variables.$turqoiseBlue;
                position: absolute;
                
            }
        }
    }
    // BACKGROUND IMG CONTAINER for transition between LOCATIONS and SEARCH section
    .backgroundContainer {
        height: 500px;
        background-image: url('./../textilee-assets/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    // PARAGRAPH STYLING
    p {
        color: variables.$white;
        margin-bottom: 25px;
        margin-top: 10px;
    }
}

