@use "./variables";

//ABOUT section
.about {
    background: variables.$lightSkyBlue;
    padding-top: 50px;
    padding-bottom: 70px;
    .flexAbout {
        display: flex;
        justify-content: space-between;
        .textContainerAbout {
            width: 70%;
        }
        .imgContainerAbout {
            width: 30%;
        }
    }
}