//COLOURS:
$primaryHeading: #1A315C;
$secondaryHeading: #FFFFFF;
$primaryBody: #1E1713;
$logo: #161515;
$buttonTwo: lightgray ;

//FONT FAMILIES:
$headingFont: "Pacifico";
$bodyFont: "Lato";

//FONT SIZE:
$baseFontSize: 1rem;