//VARIABLES

//COLOURS:
$darkSlateBlue: #1A315C;
$white: #FFFFFF;
$primaryBody: #1E1713;
$blackLogo: #161515;
$lightBlueSilver: #C6D9FB;

//FONT FAMILIES:
$headingFont: "Pacifico";
$bodyFont: "Lato";

//FONT SIZE:
$baseFontSize: 1rem;

//BACKGROUND COLORS:
$lightSkyBlue: #CCEDFB;
$teal: #21404F;
$turqoiseBlue: #0CADC0;