html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.button {
  font-family: "Pacifico";
  font-size: 1.35rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  padding: 0 25px;
  margin-bottom: 20px;
  background: #1A315C;
  color: #FFFFFF;
}

.buttonTwo {
  background: #b3b3c0;
  color: #1E1713;
}

footer {
  text-align: center;
  color: #FFFFFF;
  background: #161515;
}
footer p {
  margin: 0;
  padding: 5px;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #1E1713;
}

h1, h2, h3, h4 {
  font-family: "Pacifico";
  font-weight: normal;
  color: #1A315C;
  margin: 0;
}

h1 {
  color: #161515;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px;
}

h2 {
  font-size: 2.9rem;
  line-height: 68px;
}

h3 {
  font-size: 2.15rem;
  line-height: 58px;
  letter-spacing: 2.7px;
}

h4 {
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 2.5px;
}

p {
  line-height: 28px;
  letter-spacing: 2px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about {
  background: #CCEDFB;
  padding-top: 200px;
  padding-bottom: 90px;
}
.about .flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .flexAbout .textContainerAbout {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}
.about .flexAbout .textContainerAbout p {
  padding-bottom: 20px;
}
.about .flexAbout .textContainerAbout .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 12px 32px;
}
.about .flexAbout .imgContainerAbout {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.about .flexAbout .imgContainerAbout img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: -26px 25px 0 -3px #0CADC0;
          box-shadow: -26px 25px 0 -3px #0CADC0;
}

.locations {
  background: #21404F;
}
.locations .onlineFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.locations .onlineFlex .imgContainerOnline {
  width: 40%;
  position: relative;
}
.locations .onlineFlex .imgContainerOnline img {
  width: 100%;
  -webkit-box-shadow: 28px 26px 0 0 #0CADC0;
          box-shadow: 28px 26px 0 0 #0CADC0;
  position: absolute;
  top: -35px;
}
.locations .onlineFlex .textContainerOnline {
  width: 48%;
  padding-left: 10px;
  padding-right: 95px;
  padding-top: 80px;
}
.locations .newLocationsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
.locations .newLocationsFlex .textContainerNew {
  width: 40%;
  text-align: right;
  padding-left: 40px;
  padding-top: 30px;
}
.locations .newLocationsFlex .imgContainerNew {
  width: 48%;
  position: relative;
}
.locations .newLocationsFlex .imgContainerNew img {
  width: 100%;
  -webkit-box-shadow: -28px 26px 0 0 #0CADC0;
          box-shadow: -28px 26px 0 0 #0CADC0;
  position: absolute;
}
.locations .backgroundContainer {
  height: 500px;
  background-image: url("./../textilee-assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.locations p {
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 10px;
}
.locations .buttonTwo {
  background: #b3b3c0;
  border: none;
}

.communication {
  background: #CCEDFB;
  padding-bottom: 60px;
}

.search {
  background: #CCEDFB;
  text-align: center;
  padding: 120px 0 150px 0;
}
.search p {
  margin-bottom: 60px;
}

.gallery {
  background: #21404F;
}